@model EntityCRUD.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<form action="/Home/Index" method="get">
    <input type="text" name="searchString" placeholder="Enter Search" />
    <button type="submit">Search</button>
</form>
<p></p>
<p></p>
@foreach (var customer in Model.Customers)
{
    <span>@customer.Name</span><text> - </text> <span>@customer.Birthday</span><br/>
    foreach (var order in customer.Orders)
    {
        <span>@order.Description</span><text> - </text> <span>@order.OrderDate</span><br/>
    }
}