
@{
    ViewBag.Title = "NewCustomer";
}

<h2>NewCustomer</h2>

<form action="/Home/NewCustomer" method="post">
    <input type="text" name="Name" placeholder="Enter Name" /><br />
    <input type="date" name="Birthday" /><br/>
    <button type="submit">Add Customer</button>
</form>
