@model EntityCRUD.Models.OrderViewModel
@{
    ViewBag.Title = "AddOrder";
}

<h2>Add Order</h2>

<form action="/Order/AddOrder" method="post">
    <input type="text" name="Description" placeholder="Order Description"/>
    <input type="number" name="OrderTotal" placeholder="Order Total" />
    <button type="submit" class="btn btn-success">Add Order</button>
</form>

@if (@ViewBag.SuccessMessage != null){ <h3>@ViewBag.SuccessMessage </h3> }